pip install opencv-python-headless==4.5.3.56 
pip install opencv-contrib-python==4.5.3.56
pip install opencv-python==4.5.3.56
streamlit
altair
pandas
numpy
tensorflow
keras
seaborn
sklearn
matplotlib
cvlib
scikit-image
streamlit-webrtc
av
