altair
pandas
numpy
tensorflow
keras
streamlit
seaborn
sklearn
matplotlib
cvlib
scikit-image
streamlit-webrtc
av
opencv-python-headless==4.5.3.56 
opencv-contrib-python==4.5.3.56
opencv-python==4.5.3.56
